/env
/geckodriver.log
/auction_urls_copy.txt
/trial.py
/trial2.py
/trial3.py
/trial4.py
/trial5.py
/dummy_data
/auctions1-1000
/auction_data
/checkpoint1.txt
/backup
/daily_auctions/*
/daily_urls/*
/sensor.py
/__pycache__
/.ipynbb_checkpoints